body {
    padding: 0;
    margin: 0;
}
pre {
    background-color: #f5f5f5;
    padding: 10px;
    font-size: 14px;
    line-height: 1.6;
    flex: 1;
    margin-left: 30px;
}
.app {
    display: flex;
    padding: 30px;
}
.app__cont {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    margin-bottom: 45px;
}
.app__hd {
    margin-bottom: 37px;
}
.app__title {
    font-size: 32px;
    text-align: center;
    margin: 0;
}
.app__ft {
	text-align: center;
}
.app__text {
	font-size: 23px;
    line-height: 20px;
    color: #4c4c4c;
    margin-bottom: 30px;
}
.app__text span {
    color: red;
}
.app__btn {
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	border-color: #e78b1e;
	border-radius: 5px;
	background-image: linear-gradient(0deg, #be5a0f 0%, #f5a023 100%);
	box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
	transition: bottom 0s ease-in 0s;
	text-shadow: .5px .866px 0 #000;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	line-height: 1;
	padding: 11px 21px 9px;
}
.app__btn:hover {
    background: #f6a734;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    font-family: 'Arial';
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: none;
}
input[type="text"]:focus,
textarea:focus {
    outline: none;
}
input[type="text"]::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
textarea {
    width: 100%;
    min-height: 150px;
}
input[type='checkbox'] {
    padding: 0;
    margin: 0;
}
input[type='radio'] {
    padding: 0;
    margin: 0;
}


/* .size-left {
    display: flex;
    padding-top: 89px;
}
.size-left .width-main {
	background: url(https://aksioma174.ru/sites/all/themes/axioma/images/wind/mert2.png) repeat-y 100% 0;
	width: 40px;
	text-align: center;
	margin-right: 10px;
}
.size-left .width-main input {
	transform: rotate(-90deg);
	left: -11px;
}
.size-left .width-frames {
    flex-direction: column;
}
.size-left .width-frame {
    height: 180px;
} */
/* .width-main {
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .width-frames {
    display: flex;
}
.width-frame {
    display: flex;
    align-items: center;
    justify-content: center;
} */
.del {
    background-color: red;
    background: url(/img/del.png) 0 0 no-repeat;
    width: 49px;
    height: 49px;
    cursor: pointer;
}
.add {
    background-color: orange;
    background: url(/img/add.png) 0 0 no-repeat;
    width: 49px;
    height: 49px;
    cursor: pointer;
}
.settings {
    background-color: purple;
    background: url(/img/settings.png) 0 0 no-repeat;
    width: 49px;
    height: 49px;
    margin-top: 5px;
    cursor: pointer;
}



.frames {}
.frames__cont {
    display: flex;
}
.markup-width {
    background: url(/img/scale.png) repeat-x 0 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
}
.markup-width input {
    text-align: center;
    width: 100px;
}
.frames__frame {
    flex: 0 0 auto;
    width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: -1px;
}
.frames__frame:last-child .frames__w {
    border-right: 1px solid #d0d0d0;
}
.frames__w {
	border-left: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	height: 40px;
    text-align: center;
}
.frames__w input {
    width: 100px;
    text-align: center;
}
.frames__t {
    /* border: 1px solid; */
    height: 272px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.frames__b {
    /* border: 1px solid; */
    height: 149px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frames__frame.window .frames__t {
    background-color: blue;
    background: url(/img/wind.jpg) 0 0 no-repeat;
}
.frames__frame.door .frames__t {
    background-color: blue;
    background: url(/img/door.jpg) 0 0 no-repeat;
}
.frames__frame.door .frames__b {
    background-color: green;
    background: url(/img/door.jpg) 0 -272px no-repeat;
}

.action {
	width: 100px;
    padding-top: 100px;
}
.action__top {
	height: 272px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.action__bottom {
	height: 149px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.markup-height {
    display: flex;
    margin-top: 99px;
    height: 100%;
    margin-left: -100px;
}
.markup-height input {
    width: 100px;
    text-align: center;
}
.markup-height .l {
	display: flex;
	align-items: center;
    background: url(/img/scale2.png) repeat-y 100% 0;
    margin-right: 10px;
}
.markup-height .t {
    height: 272px;
    display: flex;
    align-items: center;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}
.markup-height .b {
    height: 149px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d0d0d0;
}
.markup-height input {
    transform: rotate(-90deg);
}

.parameters {
	background-color: #fff;
	position: absolute;
	top: 21px;
	left: 21px;
	right: 21px;
	bottom: 24px;
    padding: 10px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.parameters.active {
    opacity: 1;
    visibility: visible;
}
.parameters__close {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
    cursor: pointer;
    z-index: 1;
}
.parameters__close::before,
.parameters__close::after {
	content: '';
	position: absolute;
	top: 0;
    left: 0;
	right: 0;
    bottom: 0;
	height: 2px;
	width: 15px;
    margin: auto;
	background-color: #be5a0f;
    z-index: 1;
}
.parameters__close::before {
    transform: rotate(45deg);
}
.parameters__close::after {
    transform: rotate(-45deg);
}
.parameters__title {
	font-weight: 700;
	color: #be5a0f;
    margin-bottom: 8px;
}
.parameters__field {
    margin-bottom: 10px;
}
.parameters__cont {
    display: flex;
}
.parameters__label {
    margin-bottom: 3px;
}
.parameters__item {
    margin-right: 2px;
    width: 24px;
    height: 34px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s;
}
.parameters__item:last-child {
    margin-right: 0;
}
.parameters__item:hover {
    border-color: rgba(245, 160, 35, 0.5);
}
.parameters__item.active {
    border-color: #f5a023;
}
.parameters__item_none {
    background: url(/img/none.png) 0 0 no-repeat;
}
.parameters__item_right {
    background: url(/img/right.png) 0 0 no-repeat;
}
.parameters__item_left {
    background: url(/img/left.png) 0 0 no-repeat;
}
.parameters__item_top {
    background: url(/img/top.png) 0 0 no-repeat;
}
.parameters__item_mosquito {
    background: url(/img/mosquito.png) 0 0 no-repeat;
}
.parameters__input {
    display: none;
}


.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow-y: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.modal.active {
    opacity: 1;
    visibility: visible;
}
.modal.active .modal__inner {
	transform: translateY(0);
}
.modal__overlay {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: -999999px;
    cursor: pointer;
}
.modal__close:before,
.modal__close:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 20px;
    height: 2px;
    background-color: #000;
}
.modal__close:before {
    transform: rotate(-45deg);
}
.modal__close:after {
    transform: rotate(45deg);
}
.modal__inner {
    background-color: #fff;
    padding: 50px;
    position: relative;
    width: 450px;
    transform: translateY(-100px);
    transition: all 0.3s;
}
.modal__ttl {
    font-size: 20px;
    text-align: center;
    margin: 0 0 15px;
}



.wf__markup {
    margin-bottom: 15px;
    font-size: 14px;
    color: #4c4c4c;
}
.wf__field {
    margin-bottom: 10px;
}
.wf__field input {
    font-weight: 400;
    color: #000;
    padding: 15px 10px;
}
.wf__privacy {
	font-size: 11px;
	margin: 0 0 15px;
    color: gray;
}
.wf__privacy a {
    color: gray;
}
.wf__privacy a:hover {
    text-decoration: none;
}
.wf__action input {
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	border-color: #e78b1e;
	border-radius: 5px;
	background-image: linear-gradient(0deg, #be5a0f 0%, #f5a023 100%);
	box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
	transition: bottom 0s ease-in 0s;
	text-shadow: .5px .866px 0 #000;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	line-height: 1;
	padding: 8px 21px 11px;
}
.wf__action input:hover {
    background: #f6a734;
}
