.App {
    position: relative;
    display: flex;
    padding: 0;
}
input {
    width: 50px;
    text-align: center;
    padding: 0;
}



.markup-height {
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 50px;
}
.markup-height .t {
    height: 272px;
}
.markup-height .b {
    height: 149px;
}


.size-left {
    display: flex;
    padding-top: 89px;
}
.size-left .width-main {
	background: url(https://aksioma174.ru/sites/all/themes/axioma/images/wind/mert2.png) repeat-y 100% 0;
	width: 40px;
	text-align: center;
	margin-right: 10px;
}
.size-left .width-main input {
	transform: rotate(-90deg);
	left: -11px;
}
.size-left .width-frames {
    flex-direction: column;
}
.size-left .width-frame {
    height: 180px;
}
.width-main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.width-frames {
    display: flex;
}
.width-frame {
    display: flex;
    align-items: center;
    justify-content: center;
}
.del {
    background-color: red;
    background: url(https://aksioma174.ru/sites/all/themes/axioma/images/wind/minus.png) 0 0 no-repeat;
    width: 49px;
    height: 49px;
    cursor: pointer;
}
.add {
    background-color: orange;
    background: url(https://aksioma174.ru/sites/all/themes/axioma/images/wind/plus.png) 0 0 no-repeat;
    width: 49px;
    height: 49px;
    cursor: pointer;
}



.frames {}
.frames__cont {
    display: flex;
}
.frames__width {
    background: url(https://aksioma174.ru/sites/all/themes/axioma/images/wind/mert1.png) repeat-x 0 100%;
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.frames__frame {
    flex: 0 0 auto;
    width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 1px;
}
.frames__t {
    /* border: 1px solid; */
    height: 272px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frames__b {
    /* border: 1px solid; */
    height: 149px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frames__frame.window .frames__t {
    background-color: blue;
    background: url(https://aksioma174.ru/sites/all/themes/axioma/images/wind/wnd.jpg) 0 0 no-repeat;
}
.frames__frame.door .frames__t {
    background-color: blue;
    background: url(https://aksioma174.ru/sites/all/themes/axioma/images/wind/balcony_door.jpg) 0 0 no-repeat;
}
.frames__frame.door .frames__b {
    background-color: green;
    background: url(https://aksioma174.ru/sites/all/themes/axioma/images/wind/balcony_door.jpg) 0 -272px no-repeat;
}

.action {
	width: 100px;
}
.action__top {
	height: 272px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.action__bottom {
	height: 149px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sf-t-w {
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	height: 40px;
    text-align: center;
}
